---
import BackgroundContactSvg from '../assets/svg/background_contact.svg?raw';
---

<div class="hud-background" set:html={BackgroundContactSvg}></div>

<style>
	.hud-background {
		position: absolute;
		top: 70px;
		left: 80px;
		transform: translateZ(0);
		will-change: transform;
		backface-visibility: hidden;
	}

</style>