---
// Sidebar HUD - Logo Portfolio vertical
import logoPortfolio from '../assets/svg/logo_portfolio.svg';
---

<aside class="absolute left-6 top-0 h-screen flex items-center opacity-0 -translate-x-5 animate-[fadeInSidebar_1s_ease-out_2s_forwards]">
  <div class="[writing-mode:vertical-rl]">
    <img src={logoPortfolio.src} alt="Portfolio" class="h-[calc(100vh-150px)] w-auto drop-shadow-[0_0_10px_rgba(255,255,255,0.3)]" />
  </div>
</aside>

<style>
  @keyframes fadeInSidebar {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media (max-width: 768px) {
    aside {
      left: 0.5rem;
    }

    img {
      height: calc(100vh - 180px);
    }
  }

  @media (max-width: 480px) {
    aside {
      left: 0.25rem;
    }
    
    img {
      height: calc(100vh - 200px);
    }
  }
</style>
